<tr id="<%= dom_id company %>">
  <td>
    <%= company.company_name %>
  </td>

  <td>
    <%= company.ticker_symbol %>
  </td>

  <td>
    <%= company.animal_testing %>
  </td>

  <td>
    <%= company.nuclear_weapons %>
  </td>

  <td>
    <%= company.coal_power %>
  </td>

  <td>
    <%= company.rainforest_destruction %>
  </td>

  <td>
    <%= company.issues_exposed_to %>
  </td>
</tr>
